<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Welcome to Avikainfotech. Avikainfotech Pvt a leading networking service provider, has evolved into a full-range networking and solutions provider."/>


  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  {{!
  <!-- ======== Swiper Js Slider ======= --> }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.7.5/swiper-bundle.min.css" />
  {{!
  <!-- ======== Swiper Js Slider ======= --> }}
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  {{!-- Favicon Icon --}}
  <link rel="icon" type="image/png" sizes="96x96" href="image/favicon-96x96.png">
  <link rel="manifest" href="image/manifest.json" /> 
  {{!-- Custom CSS --}}
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="about.css" />

  <title> About Us | Avikainfotech </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light text-center text-lg-start" style="background-color:#fff">
    <div class="container-fluid px-4">
      <a class="navbar-brand" href="/"><span class="logooo my-3">Avikainfotech</span> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 my-3">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/" style="font-weight: 600; font-size:18px;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="./about.hbs" style="font-weight: 600;  font-size:18px;">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="./service.hbs" style="font-weight: 600; font-size:18px;">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="./contactUs.hbs" style="font-weight: 600; font-size:18px;">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <hr class="Home-hr">


  <div class="container">
    <p class="text container">
      Welcome to Avikainfotech Pvt. We at Avikainfotech are fully committed to integrating customer driven quality
      standards with superior innovation. Our abiding endeavour is to provide customized internet and networking
      solutions to suit all your business requirements. All our processes are geared towards producing the best services
      in terms of quality, functionality, and affordability. At Avikainfotech internet and networking we are geared
      towards not just customer satisfaction but strive towards achieving customer delight.We deliver “best-of-breed”
      technology solutions to customers covering middleware, Internet & Wi-Fi Service, Networking, Ip Telephone & Dialer
      and CCTV Service.
      “We hope you enjoy our services as much as we enjoy offering them to you. If you have any questions or comments,
      please don't hesitate to contact us”.
    </p>
  </div>



  {{! Footer Section Start }}
<div class="my-4">
  <footer>
    <div class="footer-row">
      <div class="footer-col">
        <span class="logooo my-3">Avikainfotech</span>
        <p>Avikainfotech Pvt a leading Networking service provider! has
          evolved into a full-range networking and solutions provider. And
          networking Solution Provider our main focus is in providing Internet
          connectivity and developing customized networking solutions for
          companies and organisations.Incorporating cost effective Networking
          technologies to help companies gain a competitive edge in both local
          and global markets.</p>
      </div>
      <div class="footer-col">
        <h3>Office
          <div class="underline"><span></span></div>
        </h3>
        <p>Plot No.1</p>
        <p>Neta Ji Subash Colony,</p>
        <p>Tonk Road, Jaipur</p>
        <p class="footer-email-id">ajaykumar0lali@gmail.com</p>
        <h6 class="footer-contact">+91 - 9982825676</h6>
        <h6>+91 - 8432066636</h6>

      </div>
      <div class="footer-col">
        <h3>QuickLinks<div class="underline"><span></span></div>
        </h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="about.hbs">About Us</a></li>
          <li><a href="service.hbs">Service</a></li>
          <li><a href="contactUs.hbs">Contact Us</a></li>

        </ul>
      </div>
      <div class="footer-col">
        <h3>Newsletter
          <div class="underline"><span></span></div>
        </h3>
        <form action="/" method="POST" class="footer-form">
          <i class="far fa-envelope"></i>
          <input type="email" name="email" placeholder="Enter your email id" required> <br>
          <button type="submit"><i class="fas fa-arrow-right"></i></button>
        </form>
      </div>
    </div>
    <hr />
    <p class="footer-copyright">&copy; Avikainfotech | Developed by <span class="developerEmail">sachinsaini19970@gmail.com</span> </p>
  </footer>
  </div>
  {{! Footer Section END }}

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  {{! Fontawesome Icon cdnjs }}
  <script src="https://kit.fontawesome.com/7039ad1a14.js" crossorigin="anonymous"></script>
</body>

</html>