<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Welcome to Avikainfotech. Avikainfotech Pvt a leading networking service provider, has evolved into a full-range networking and solutions provider."/>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  {{!--
  <!-- ======== Swiper Js Slider ======= --> --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.7.5/swiper-bundle.min.css" />
  {{!--
  <!-- ======== Swiper Js Slider ======= --> --}}
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  {{!-- Custom CSS --}}
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="service.css">
  {{!-- Favicon Icon --}}
  <link rel="icon" type="image/png" sizes="96x96" href="image/favicon-96x96.png">
  <link rel="manifest" href="image/manifest.json" />

  <title> Service | Avikainfotech </title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light text-center text-lg-start" style="background-color:#fff">
    <div class="container-fluid px-4">
      <a class="navbar-brand" href="/"><span class="logooo my-3">Avikainfotech</span> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 my-3">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/" style="font-weight: 600; font-size:18px;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="./about.hbs" style="font-weight: 600;  font-size:18px;">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="./service.hbs" style="font-weight: 600; font-size:18px;">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="./contactUs.hbs" style="font-weight: 600; font-size:18px;">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <hr class="Home-hr">

  {{!-- Service Section --}}

  <div class="container service-card ">
    <div class="d-lg-flex">
      <div class="d-md-flex align-items-center row row-cols-1 row-cols-md-1 row-cols-xl-4">
        <div class="col1 mb-md-0 xl-6 p-3">
          <div class="card pb-4"> <span class="wifi mt-3"><img src="image/Wi-fi.jpg" width="200" height="150"
                alt=""></span>
            <p class="h4 pt-4">Internet & Wi-Fi Service</p>
            <p class="p1 text-muted"> Wi-Fi is technology for radio wireless local area networking of devices based on
              the IEEE ...</p> <a href="./internet.hbs" class="fas fa-arrow-right"></a>
          </div>
        </div>
        <div class="col2 mb-md-0 xl-6 p-3">
          <div class="card pb-4"> <span class="networking mt-3"><img src="image/networking.jpg" width="120" height="120"
                alt=""></span>
            <p class="h4 pt-4">Networking</p>
            <p class="p1 text-muted"> Before you power up your modem, you’ll want to connect it to your computer and
              your phone jack or cable outlet. ... </p> <a href="./networking.hbs" class="fas fa-arrow-right"></a>
          </div>
        </div>
        <div class="col2 mb-md-0 xl-6 p-3">
          <div class="card pb-4"> <span class="Telephone mt-3"><img src="image/Ip Telephone.2.jpg" width="120"
                height="120" alt=""></span>
            <p class="h4 pt-4">Ip Telephone & Dialer</p>
            <p class="p1 text-muted"> A VoIP phone or IP phone uses voice over IP technologies for placing and
              transmitting telephone calls over... </p> <a href="./telephone.hbs" class="fas fa-arrow-right"></a>
          </div>
        </div>
        <div class="col3 mb-md-0 xl-6 p-3">
          <div class="card pb-4"> <span class="CCTV mt-3"><img src="image/CCTV.5.jpg" width="120" height="120"
                alt=""></span>
            <p class="h4 pt-4">CCTV</p>
            <p class="p1 text-muted "> Provides CCTV systems to keep you safe even when we are not there. We can install
              cameras anywhere from your office ... </p> <a href="./cctv.hbs" class="fas fa-arrow-right"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{!-- Footer Section Start --}}

  <footer>
    <div class="footer-row">
      <div class="footer-col">
        <span class="logooo my-3">Avikainfotech</span>
        <p>Avikainfotech Pvt a leading Networking service provider! has evolved into a full-range networking
          and solutions provider. And networking Solution Provider our main focus is in providing Internet
          connectivity and developing customized networking solutions for companies and
          organisations.Incorporating cost effective Networking technologies to help companies gain a
          competitive edge in both local and global markets.</p>
      </div>
      <div class="footer-col">
        <h3>Office <div class="underline"><span></span></div>
        </h3>
        <p>Plot No.1</p> <br>
        <p>Neta Ji Subash Colony,</p><br>
        <p>Tonk Road, Jaipur</p>
        <p class="footer-email-id">ajaykumar0lali@gmail.com</p>
        <h6 class="footer-contact">+91 - 9982825676</h6>
        <h6>+91 - 8432066636</h6>

      </div>
      <div class="footer-col">
        <h3>QuickLinks <div class="underline"><span></span></div>
        </h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="about.hbs">About Us</a></li>
          <li><a href="service.hbs">Service</a></li>
          <li><a href="contactUs.hbs">Contact Us</a></li>

        </ul>
      </div>
      <div class="footer-col">
        <h3>Newsletter <div class="underline"><span></span></div>
        </h3>
        <form action="/" method="POST" class="footer-form">
          <i class="far fa-envelope"></i>
          <input type="email" name="email" placeholder="Enter your email id" required> <br>
          <button type="submit"><i class="fas fa-arrow-right"></i></button>
        </form>
      </div>
    </div>
    <hr>
    <p class="footer-copyright">&copy; Avikainfotech | Developed by <span class="developerEmail">sachinsaini19970@gmail.com</span> </p>
  </footer>

  {{!-- Footer Section END --}}


  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  {{!-- Fontawesome Icon cdnjs --}}
  <script src="https://kit.fontawesome.com/7039ad1a14.js" crossorigin="anonymous"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>