* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.service-text{
    background: whitesmoke;
    border: 2px solid whitesmoke;
    font-weight: 700;
    padding: 20px;
    box-shadow:
         inset 0 -3em 3em rgba(0,0,0,0.1),
               0 0  0 2px rgb(255,255,255),
               0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.text{
    color:white ;
    padding: 8px 2px;
    background-color: rgb(145, 30, 74);
    width: fit-content;
    font-weight: bold;
}

.service-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;

}

p {
    margin: 0px
}

.container {
    margin: 50px auto
}

.card {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
}

.card .fas.fa-arrow-right {
    position: absolute;
    bottom: -100px;
    background-color: #4e9525;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: gold;
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.5s ease;
    text-decoration: none;

}

.card:hover .fas.fa-arrow-right {
    bottom: 0px;
    opacity: 1
}

.card .wifi,
.networking,
.Telephone,
.CCTV {
    font-size: 40px;
    background-color: #0000000d;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #4e9525
}

.card .h4 {
    font-weight: 700;
    font-size: 20px;
}

.card:hover .wifi,
.card:hover .networking,
.card:hover .Telephone,
.CCTV {
    color: gold;
    background-color: #4e9525;
}

@media (max-width:500px) {
    .service-card {
        padding: 25px
    }

    .card {
        width: 100%
    }

    .content {
        padding: 25px
    }
}
@media (max-width:1199px) {
    .service-card {
        padding: 45px
    }

    .card {
        width: 100%
    }
    
    .content {
        padding: 25px
    }
}